# Web Scrapping using Selenium

In [268]:
# Import all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Connect to webdriver
driver=webdriver.Chrome(r'C:/Users/Dazzle/Documents/chromedriver.exe')

## Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

### 1. First get the webpage https://www.naukri.com/

In [3]:
url1='https://www.naukri.com/'
driver.get(url1)

### 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [4]:
src_job1=driver.find_element_by_id('qsb-keyword-sugg')
src_job1.send_keys("Data Analyst")

In [5]:
src_loc1=driver.find_element_by_id('qsb-location-sugg')
src_loc1.send_keys('Bangalore')

### 3. Then click the search button.

In [6]:
btn_clk1=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn_clk1.click()

### 4. Then scrape the data for the first 10 jobs results you get.

In [7]:
job_title1=[]
job_loc1=[]
company_name1=[]
exp_req1=[]

In [8]:
#Job Title
title1=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
title1[0:10]

for i in title1 :
    t1=i.text
    job_title1.append(t1)
job_title1[0:10]

['Data Analyst',
 'Business Data Analyst(BigId) - Capco - Bangalore',
 'Data Analyst - Flipkart Analytics',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Business Data Analyst - Database Design/Mining',
 'Opportunity For Business Data Analyst',
 'Urgent Openings For Data Analyst / Business Analyst',
 'Software Technologist II - Data Analyst',
 'Hiring For Data Analyst - Payment System Intelligence']

In [9]:
#Job location
loc1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc1[0:10]

for i in loc1 :
    l1=i.text
    job_loc1.append(l1)
job_loc1[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Bellandur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)']

In [10]:
#Company name
company1=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
company1[0:10]

for i in company1 :
    c1=i.text
    company_name1.append(c1)
company_name1[0:10]

['Rupeek Fintech Pvt Ltd',
 'Capco Technologies Pvt Ltd',
 'Flipkart',
 'Pioneer Business Solutions',
 'Pioneer Business Solutions',
 'AugmatrixGo',
 'Botree Software International Private Limited',
 'Flipkart',
 'Philips India Limited',
 'Genpact']

In [11]:
#Experience Required
exp1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp1[0:10]

for i in exp1 :
    e1=i.text
    exp_req1.append(e1)
exp_req1[0:10]

['0-2 Yrs',
 '3-8 Yrs',
 '0-3 Yrs',
 '6-11 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '1-6 Yrs',
 '6-11 Yrs',
 '4-9 Yrs']

In [12]:
#Check size of arrays
print(len(job_title1),len(job_loc1),len(company_name1),len(exp_req1))

20 20 20 20

### 5. Finally create a dataframe of the scraped data.

In [13]:
df1=pd.DataFrame({})
df1['Title']=job_title1[0:10]
df1['Location']=job_loc1[0:10]
df1['Company']=company_name1[0:10]
df1['Experience']=exp_req1[0:10]

df1

,Title,Location,Company,Experience
0,Data Analyst,Bangalore/Bengaluru,Rupeek Fintech Pvt Ltd,0-2 Yrs
1,Business Data Analyst(BigId) - Capco - Bangalore,Bangalore/Bengaluru,Capco Technologies Pvt Ltd,3-8 Yrs
2,Data Analyst - Flipkart Analytics,Bangalore/Bengaluru(Bellandur),Flipkart,0-3 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,6-11 Yrs
4,Sr Data Analyst,Bangalore/Bengaluru,Pioneer Business Solutions,3-8 Yrs
5,Business Data Analyst - Database Design/Mining,Bangalore/Bengaluru,AugmatrixGo,2-5 Yrs
6,Opportunity For Business Data Analyst,"Bangalore/Bengaluru, Mumbai (All Areas)",Botree Software International Private Limited,3-6 Yrs
7,Urgent Openings For Data Analyst / Business An...,Bangalore/Bengaluru,Flipkart,1-6 Yrs
8,Software Technologist II - Data Analyst,Bangalore/Bengaluru,Philips India Limited,6-11 Yrs
9,Hiring For Data Analyst - Payment System Intel...,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Genpact,4-9 Yrs

In [14]:
#driver.close()

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

### 1. First get the webpage https://www.naukri.com/

In [15]:
url2='https://www.naukri.com/'
driver.get(url2)

### 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [16]:
src_job2=driver.find_element_by_id('qsb-keyword-sugg')
src_job2.send_keys("Data Scientist")

In [17]:
src_loc2=driver.find_element_by_id('qsb-location-sugg')
src_loc2.send_keys('Bangalore')

### 3. Then click the search button

In [18]:
btn_clk2=driver.find_element_by_xpath("//div[@class='search-btn']/button")
btn_clk2.click()

### 4. Then scrape the data for the first 10 jobs results you get.

In [19]:
job_title2=[]
job_loc2=[]
company_name2=[]

In [20]:
#Job Title
ttl2=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
ttl2[0:10]

for i in ttl2 :
    t2=i.text
    job_title2.append(t2)
job_title2[0:10]

['Process Innovation Analyst - APAC/Data Scientist - Third Party Role',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist',
 'Senior Data Scientist - Computer Vision',
 'Senior Data Scientist | Fortune 500 Supermarket Chain',
 'Data Scientist /Senior Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist']

In [21]:
#Job location
loc2=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc2[0:10]

for i in loc2 :
    l2=i.text
    job_loc2.append(l2)
job_loc2[0:10]

['Bangalore/Bengaluru, Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [22]:
#Company name
company2=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
company2[0:10]

for i in company2 :
    c2=i.text
    company_name2.append(c2)
company_name2[0:10]

['Bayer',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Kwalee India Pvt Ltd.',
 'GE Transportation',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'Dun & Bradstreet',
 'Visa',
 'Team4Progress',
 'TransOrg Solutions Services (P) Ltd.']

In [23]:
#Check size of arrays
print(len(job_title2),len(job_loc2),len(company_name2))

20 20 20

### 5. Finally create a dataframe of the scraped data.

In [24]:
df2=pd.DataFrame({})
df2['Title']=job_title2[0:10]
df2['Location']=job_loc2[0:10]
df2['Company']=company_name2[0:10]

df2

,Title,Location,Company
0,Process Innovation Analyst - APAC/Data Scienti...,"Bangalore/Bengaluru, Hyderabad",Bayer
1,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited
2,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM India Pvt. Limited
3,Senior Data Scientist,Bangalore/Bengaluru,Kwalee India Pvt Ltd.
4,Senior Data Scientist - Computer Vision,Bangalore/Bengaluru,GE Transportation
5,Senior Data Scientist | Fortune 500 Supermarke...,Bangalore/Bengaluru,TALENT500 TECH (INDIA) PRIVATE LIMITED
6,Data Scientist /Senior Data Scientist,"Chennai, Bangalore/Bengaluru",Dun & Bradstreet
7,Data Scientist,Bangalore/Bengaluru,Visa
8,Lead Data Scientist,"Mumbai, Pune, Bangalore/Bengaluru",Team4Progress
9,Lead Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TransOrg Solutions Services (P) Ltd.

## Q3: In this question you have to scrape data using the filters available on the webpage

### 1. first get the webpage https://www.naukri.com/

In [25]:
url3='https://www.naukri.com/'
driver.get(url3)

### 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [26]:
src_job3=driver.find_element_by_id("qsb-keyword-sugg")
src_job3.send_keys('Data Scientist')

### 3. Then click the search button.

In [27]:
src_btn3=driver.find_element_by_xpath("//div[@class='search-btn']/button")
src_btn3.click()

### 4. Then apply the location filter and salary filter by checking the respective boxes

In [28]:
loc_filter=driver.find_element_by_xpath("//div[@class='filters']//div[@class='filterContainer bgWhite br4'][3]//div[@class='mt-8 chckBoxCont'][3]")
loc_filter.click()

In [29]:
sal_filter=driver.find_element_by_xpath("//div[@class='filters']//div[@class='filterContainer bgWhite br4'][4]//div[@class='mt-8 chckBoxCont'][2]")
sal_filter.click()

### 5. Then scrape the data for the first 10 jobs results you get.

In [30]:
job_title3=[]
job_loc3=[]
company_name3=[]
exp_req3=[]

In [31]:
#Job Title
title3=driver.find_elements_by_xpath("//div[@class='info fleft']/a")
title3[0:10]

for i in title3 :
    t3=i.text
    job_title3.append(t3)
job_title3[0:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist III-2',
 'Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Urgent Hiring || Data Scientist || Delhi',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Internship']

In [32]:
#Job location
loc3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc3[0:10]

for i in loc3 :
    l3=i.text
    job_loc3.append(l3)
job_loc3[0:10]

['Kochi/Cochin, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Delhi / NCR',
 'Noida(Sector-126 Noida)',
 'Noida(Sector-126 Noida)',
 'Delhi / NCR',
 'Noida',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, Delhi, Lucknow, Agra, Gurgaon, Rajkot, Bengaluru',
 'New Delhi']

In [33]:
#Company name
company3=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a[1]")
company3[0:10]

for i in company3 :
    c3=i.text
    company_name3.append(c3)
company_name3[0:10]

['Think i',
 'ThinkBumblebee Analytics Pvt. Ltd.',
 'Concentrix Daksh Services',
 'HCL Technologies',
 'MoMagic Technologies Pvt. Ltd.',
 'MoMagic Technologies Pvt. Ltd.',
 'Shriram Automall India Limited',
 'SVK Global Solutions Private Limited',
 'Country Veggie',
 'iHackers Inc']

In [34]:
#Experience Required
exp3=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp3[0:10]

for i in exp3 :
    e3=i.text
    exp_req3.append(e3)
exp_req3[0:10]

['0-2 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '4-7 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '2-7 Yrs',
 '6-10 Yrs',
 '1-3 Yrs',
 '0-1 Yrs']

In [35]:
#Check size of arrays
print(len(job_title3),len(job_loc3),len(company_name3),len(exp_req3))

20 20 20 20

### 6. Finally create a dataframe of the scraped data.

In [36]:
df3=pd.DataFrame({})
df3['Title']=job_title3[0:10]
df3['Location']=job_loc3[0:10]
df3['Company']=company_name3[0:10]
df3['Experience']=exp_req3[0:10]

df3

,Title,Location,Company,Experience
0,Data Scientist,"Kochi/Cochin, Kolkata, Hyderabad/Secunderabad,...",Think i,0-2 Yrs
1,Data Scientist,"Pune, Bangalore/Bengaluru, Delhi / NCR",ThinkBumblebee Analytics Pvt. Ltd.,2-6 Yrs
2,Data Scientist III-2,Gurgaon/Gurugram,Concentrix Daksh Services,3-8 Yrs
3,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
4,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
5,Data Scientist,Noida(Sector-126 Noida),MoMagic Technologies Pvt. Ltd.,4-6 Yrs
6,Urgent Hiring || Data Scientist || Delhi,Delhi / NCR,Shriram Automall India Limited,2-7 Yrs
7,Data Scientist,Noida,SVK Global Solutions Private Limited,6-10 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price

### 1. Go to Flipkart webpage by url : https://www.flipkart.com/

In [314]:
url4='https://www.flipkart.com/'
driver.get(url4)

### 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

In [315]:
src4=driver.find_element_by_name("q")
src4.send_keys('sunglasses')

In [316]:
btn4=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn4.click()

### 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

In [317]:
brand4=[]
desc4=[]
price4=[]
offer4=[]

In [318]:
# Brand
br41=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in br41 :
    b41=i.text
    brand4.append(b41)
print(brand4)

['Fravy', 'VINCENT CHASE', 'SRPM', 'SUNBEE', 'Elligator', 'Fastrack', 'PIRASO', 'Anemone', 'SHAAH COLLECTIONS', 'SHAAH COLLECTIONS', 'kingsunglasses', 'Fravy', 'kingsunglasses', 'PIRASO', 'GANSTA', 'elegante', 'PHENOMENAL', 'New Specs', 'hipe', 'VINCENT CHASE', 'Rich Club', 'PIRASO', 'New Specs', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'Elligator', 'NuVew', 'VINCENT CHASE', 'PHENOMENAL', 'hipe', 'elegante', 'VINCENT CHASE', 'ROYAL SON', 'HIPPON', 'Fastrack', 'VINCENT CHASE', 'kingsunglasses', 'Fastrack', 'SUNBEE', 'ROYAL SON']

In [319]:
# Product Description
dsc41=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in dsc41 :
    d41=i.text
    desc4.append(d41)
print(desc4)

['UV Protection, Others Retro Square Sunglasses (Free Siz...', 'Polarized, UV Protection Wayfarer Sunglasses (57)', 'UV Protection Wayfarer Sunglasses (56)', 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...', 'UV Protection Round Sunglasses (54)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Others Rectangular Sunglasses (50)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Round Sunglasses (54)', 'UV Protection, Gradient, Night Vision Retro Square Sung...', 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Mirrored, UV Protection, Gradient Round Sunglasses (55)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Polarized Round Sunglasses (48)', 'UV Protection Aviator Sunglasses (54)', 'Mirrored, UV Protection, Riding Glasses, Others Round S...', 'Polarized, UV Protection Wayfarer Sunglasses (57)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Round Sunglasses (55)', 'UV Protection, Night Vision, Riding Glasses Sports Sung...', 'UV Protection, Polarized Round Sunglasses (Free Size)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...', 'Mirrored Round Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'Mirrored Aviator Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (55)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer Sunglasses (53)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...', 'Polarized, UV Protection, Gradient Over-sized, Butterfl...']

In [320]:
# Price
prc41=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in prc41 :
    p41=i.text
    price4.append(p41)
print(price4)

['₹260', '₹799', '₹188', '₹276', '₹248', '₹639', '₹200', '₹799', '₹177', '₹189', '₹189', '₹305', '₹259', '₹187', '₹269', '₹359', '₹329', '₹259', '₹189', '₹999', '₹189', '₹187', '₹269', '₹999', '₹499', '₹239', '₹270', '₹1,415', '₹311', '₹209', '₹340', '₹1,415', '₹359', '₹231', '₹509', '₹799', '₹259', '₹759', '₹215', '₹1,234']

In [321]:
# Offer
ofr41=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
for i in ofr41 :
    o41=i.text
    offer4.append(o41)
print(offer4)

['82% off', '60% off', '85% off', '83% off', '90% off', '20% off', '87% off', '60% off', '89% off', '81% off', '82% off', '84% off', '87% off', '88% off', '86% off', '76% off', '83% off', '87% off', '87% off', '50% off', '62% off', '88% off', '83% off', '50% off', '77% off', '88% off', '65% off', '29% off', '84% off', '79% off', '82% off', '29% off', '76% off', '80% off', '36% off', '60% off', '82% off', '15% off', '78% off', '58% off']

In [322]:
print(len(brand4),len(desc4),len(price4),len(offer4))

40 40 40 40

### 4. After scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.

In [323]:
next4=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
next4.click()

### 5. Now scrape data from this page as usual

In [324]:
# Brand
br42=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
br42[0:100]

for i in br42 :
    b42=i.text
    brand4.append(b42)
brand4[-10:]

['PIRASO',
 'VINCENT CHASE',
 'kingsunglasses',
 'Singco India',
 'PIRASO',
 'AISLIN',
 'kingsunglasses',
 'Singco India',
 'PHENOMENAL',
 'NuVew']

In [325]:
# Product Description
dsc42=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
dsc42

for i in dsc42 :
    d42=i.text
    desc4.append(d42)
desc4[-10:]

['UV Protection Butterfly Sunglasses (65)',
 'Polarized, UV Protection Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Wayfarer Sunglasses (32)',
 'Polarized, UV Protection, Mirrored Wayfarer, Rectangula...',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Gradient, Night Vision, Mirrored Aviator...']

In [326]:
# Price
prc42=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prc42

for i in prc42 :
    p42=i.text
    price4.append(p42)
price4[-10:]

['₹336',
 '₹999',
 '₹219',
 '₹252',
 '₹187',
 '₹1,135',
 '₹299',
 '₹229',
 '₹311',
 '₹375']

In [327]:
# Offer
ofr42=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
ofr42

for i in ofr42 :
    o42=i.text
    offer4.append(o42)
offer4[-10:]

['87% off',
 '50% off',
 '81% off',
 '83% off',
 '88% off',
 '73% off',
 '85% off',
 '67% off',
 '84% off',
 '70% off']

In [328]:
print(len(brand4),len(desc4),len(price4),len(offer4))

80 80 80 80

In [329]:
#Page3
next4_=driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span")
next4_.click()

In [330]:
# Brand
br43=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
br43[0:100]

for i in br43[0:20] :
    b43=i.text
    brand4.append(b43)
brand4[-10:]

['MAXX',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROYAL SON',
 'GANSTA',
 'VINCENT CHASE',
 'Fravy',
 'ROYAL SON',
 'Elligator',
 'AISLIN']

In [331]:
# Product Description
dsc43=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
dsc43[0:20]

for i in dsc43[0:20] :
    d43=i.text
    desc4.append(d43)
desc4[-10:]

['UV Protection Aviator Sunglasses (Free Size)',
 'by Lenskart UV Protection Rectangular Sunglasses (54)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (65)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Polarized, UV Protection, Gradient Rectangular Sunglass...']

In [332]:
# Price
prc43=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
prc43

for i in prc43[0:20] :
    p43=i.text
    price4.append(p43)
price4[-10:]

['₹175',
 '₹799',
 '₹349',
 '₹449',
 '₹196',
 '₹1,179',
 '₹269',
 '₹664',
 '₹332',
 '₹1,135']

In [333]:
# Offer
ofr43=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
ofr43

for i in ofr43[0:20] :
    o43=i.text
    offer4.append(o43)
offer4[-10:]

['80% off',
 '60% off',
 '82% off',
 '70% off',
 '80% off',
 '41% off',
 '82% off',
 '66% off',
 '77% off',
 '73% off']

### 6. Repeat this until you get data for 100 sunglasses.

In [334]:
print(len(brand4),len(desc4),len(price4),len(offer4))

100 100 100 100

In [335]:
df4=pd.DataFrame({})
df4['Product Brand']=brand4
df4['Product Description']=desc4
df4['Price']=price4
df4['Offer']=offer4

df4

,Product Brand,Product Description,Price,Offer
0,Fravy,"UV Protection, Others Retro Square Sunglasses ...",₹260,82% off
1,VINCENT CHASE,"Polarized, UV Protection Wayfarer Sunglasses (57)",₹799,60% off
2,SRPM,UV Protection Wayfarer Sunglasses (56),₹188,85% off
3,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹276,83% off
4,Elligator,UV Protection Round Sunglasses (54),₹248,90% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,179",41% off
96,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹269,82% off
97,ROYAL SON,Polarized Rectangular Sunglasses (65),₹664,66% off
98,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹332,77% off
99,AISLIN,"Polarized, UV Protection, Gradient Rectangular...","₹1,135",73% off

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [260]:
#Going to the provided link
url5='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url5)

### You have to scrape the tick marked attributes. These are: 1. Rating 2. Review_summary 3. Full review 4. You have to scrape this data for first 100 reviews.

In [261]:
# Clicking link for viewing All Reviews
page5=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
page5.click()

In [262]:
# Creating empty lists
rating5=[]
rev_sum5=[]
full_rev5=[]

In [263]:
#Using for loop for scraping 100 records in a singlr execution

for n in range(0,11) : 
    # 1.Rating
    rate5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rate5 :
        r5=i.text
        if (len(rating5)==100) :
            break
        rating5.append(r5)
    #print(rating5)
    print(len(rating5))
    
    # 2.Review_Summary
    sum5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in sum5 :
        s5=i.text
        if (len(rev_sum5)==100) :
            break
        rev_sum5.append(s5)
    #print(rev_sum5)
    print(len(rev_sum5))

    # 3.Full review
    full5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full5 :
        f5=i.text
        if (len(full_rev5)==100) :
            break
        full_rev5.append(f5)
    #print(full_rev5[0:3])
    print(len(full_rev5))
    
    print('-------------')
#Clicking on NEXT button to iterate the web page.
    next5=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    for n in next5 :
        if n.text=='NEXT' :
            n.click()
    time.sleep(5)

10
10
10
-------------
20
20
20
-------------
30
30
30
-------------
40
40
40
-------------
50
50
50
-------------
60
60
60
-------------
69
70
70
-------------
79
80
80
-------------
89
90
90
-------------
98
100
100
-------------
100
100
100
-------------

In [264]:
#Printing the length of lists
print(len(rating5),len(rev_sum5),len(full_rev5))

100 100 100

In [267]:
#Making dataframe of scraped details
df5=pd.DataFrame({})
df5['Rating']=rating5
df5['Review Summary']=rev_sum5
df5['Full Review']=full_rev5

df5

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
95,5,Value-for-money,Just got this iphone 11\nAnd it is most powerf...
96,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
97,4,Brilliant,Amazing phone and on great deal I received wit...
98,5,Terrific purchase,finally an iPhone with very nice battery backu...
99,5,Good quality product,I'm switching this phone to oppo reno 10x zoom...

## Q6:Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [214]:
url6='https://flipkart.com'
driver.get(url6)

In [215]:
search6=driver.find_element_by_xpath("//input[@class='_3704LK']")
search6.send_keys('sneakers')

In [216]:
#Click the search button
click6=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
click6.click()

### You have to scrape 4 attributes of each sneaker: 1. Brand 2. Product Description 3. Price 4.Offer

In [217]:
brand6=[]
desc6=[]
price6=[]
offer6=[]

In [218]:
#Using for loop for scraping 100 records

for i in range(0,3) :
    
    br6=driver.find_elements_by_xpath("//div[@class='_2B099V']/div[1]")
    for i in br6 :
        b6=i.text
        if (len(brand6)==100) :
            break
        brand6.append(b6)
    #print(brand6)
    print(len(brand6))

    ds6=driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
    for i in ds6 :
        d6=i.text
        if (len(desc6)==100) :
            break
        desc6.append(d6)
    #print(desc6)
    print(len(desc6))
    
    pr6=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pr6 :
        p6=i.text
        if (len(price6)==100) :
            break
        price6.append(p6)
    #print(price6)
    print(len(price6))

    of6=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    for i in of6 :
        o6=i.text
        if (len(offer6)==100) :
            break
        offer6.append(o6)
    #print(offer6)
    print(len(offer6))
    
# Code for iterating to the next page to scrape more records i.e. till 100 
    next6=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a[@class='_1LKTO3']")
    for i in next6 :
        if i.text=='NEXT' :
            i.click()
            
    time.sleep(10)

40
40
40
40
80
80
80
80
100
100
100
100

In [219]:
#Printing lengths
print(len(brand6),len(desc6),len(price6),len(offer6))

100 100 100 100

In [220]:
#making dataframe
df6=pd.DataFrame({})
df6['Product Brand']=brand6
df6['Product Description']=desc6
df6['Price']=price6
df6['Offer']=offer6

df6

,Product Brand,Product Description,Price,Offer
0,Numenzo,Sneakers For Men,₹479,63% off
1,Magnolia,Sneakers For Men,₹398,60% off
2,SCATCHITE,Sneakers Sneakers For Men,₹398,60% off
3,CALCADOS,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹899,54% off
4,Kreverse,Sneakers For Men,₹199,60% off
...,...,...,...,...
95,Allen Cooper,Sneakers For Men,"₹1,799",67% off
96,FOOTGRAB,Walking || Dancing || Outdoors || Boots || Sne...,₹649,35% off
97,India hub,Fashionable sneaker casual shoes Sneakers For Men,₹499,75% off
98,PUMA,Lazy Knit Slip On IDP Sneakers For Men,"₹1,259",58% off
99,PUMA,Elsu v2 CV IDP Mid Ankle Sneakers For Men,"₹1,599",60% off

## Q7: Go to the link - https://www.myntra.com/shoes .Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”

In [163]:
# Going to the link provided
url7='https://www.myntra.com/shoes'
driver.get(url7)

In [164]:
# Could not find the given filter hence using a different filter : Rs. 7149 to Rs. 14099
filter_price7=driver.find_element_by_xpath("//div[@class='vertical-filters-filters'][2]//ul//li[2]")
filter_price7.click()

In [165]:
# Appling color filter
filter_color7=driver.find_element_by_xpath("//div[@class='vertical-filters-filters'][3]//ul//li[@class='colour-listItem']")
filter_color7.click()

### scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

In [166]:
brand7=[]
desc7=[]
price7=[]

In [167]:
#Using for loop for scraping 100 records

import time 
for i in range(0,2) :
    
    br7=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    for i in br7 :
        b7=i.text
        brand7.append(b7)
    print(brand7)
    print(len(brand7))
    
    ds7=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    for i in ds7[0::2] :
        d7=i.text
        desc7.append(d7)
    print(desc7)
    print(len(desc7))
    
    pr7=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//div[@class='product-price']")
    for i in pr7 :
        p7=i.text
        price7.append(p7)
    print(price7)
    print(len(price7))
    
    pgnext7=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    pgnext7.click()
    
    time.sleep(10)

['Nike', 'Nike', 'Hush Puppies', 'Calvin Klein', 'Puma', 'Nike', 'Calvin Klein', 'Hush Puppies', 'PUMA Motorsport', 'Puma', 'Puma', 'Calvin Klein', 'ASICS', 'Puma', 'Hush Puppies', 'Calvin Klein', 'Puma', 'Hush Puppies', 'ASICS', 'Calvin Klein', 'Bugatti', 'UNDER ARMOUR', 'Hush Puppies', 'Calvin Klein', 'Saint G', 'Clarks', 'PUMA Motorsport', 'Saint G', 'DAVINCHI', 'UNDER ARMOUR', 'Clarks', 'Puma', 'Geox', 'Ruosh', 'Calvin Klein', 'Bugatti', 'J.FONTINI', 'Tommy Hilfiger', 'ASICS', 'ASICS', 'Clarks', 'Puma', 'Geox', 'Hush Puppies', 'DAVINCHI', 'Ruosh', 'DAVINCHI', 'DAVINCHI', 'Pavers England', 'Bugatti']
50
['Men Zoom Span 4 Running Shoes', 'Men FLIGHT LEGACY Sneakers', 'Men Solid Leather Formal Slip-Ons', 'Men Mid-Top Runner Sneakers', 'Men Deviate Nitro Running Shoe', "Men BlazerLow '77 Sneakers", 'Men Textured Leather Sneaker', 'Men Formal Derbys', 'Unisex FerrariRS-Fast Sneakers', 'Men Running Shoes', 'Men Velocity Nitro Running', 'Men Solid Low Top LTH Sneakers', 'Men Black Running Sports Shoes', 'Unisex RS-Z BP Sneakers', 'Men Leather Slip-On Sneakers', 'Men Solid Mid-Top Sneakers', 'Women Magnify Nitro Shoes', 'Men Solid Leather Formal Derbys', 'Men Running Shoes', 'Men UV MONO Leather Sneakers', 'Men Walking Shoes', 'Women Charged Vantage ClrShft', 'Men Solid Leather Formal Slip-Ons', 'Men Mid-Top Runner Sneakers', 'Men Mid-Top Chelsea Boots', 'Men Suede Derbys', 'Unisex BMW RS-Connect Sneakers', 'Women Leather Heeled Boots', 'Ustraa black', 'Women Charged Bandit 6 Running', 'Men Solid Leather Formal Loafers', 'Men Magnify Nitro Running', 'Men Leather Flat Boots', 'Men Solid Leather Formal Oxfords', 'Men Solid Leather Sneakers', 'Men Leather Flat Boots', 'Men Black Leather Loafers', 'Women Leather Block Pumps', 'Men Colourblocked PU Sneakers', 'Skycourt Sneakers', 'Men Solid Formal Leather Derbys', 'Unisex Textured Sneakers', 'Men Leather Formal Slip-Ons', 'Men Solid Formal Slip-Ons', 'Men Textured Formal Leather Loafers', 'Men Textured Derbys', 'Men Textured Formal Leather Oxfords', 'Men Textured Leather Formal Slip-Ons', 'Men Textured Leather Formal Derbys', 'Men Solid Casual Sneakers']
50
['Rs. 7195', 'Rs. 7995', 'Rs. 8099Rs. 8999(10% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 11249Rs. 14999(25% OFF)', 'Rs. 7195', 'Rs. 9999', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 8449Rs. 12999(35% OFF)', 'Rs. 9349Rs. 10999(15% OFF)', 'Rs. 8999', 'Rs. 7999', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 10599', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 7999', 'Rs. 8999', 'Rs. 8999', 'Rs. 7999', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 10900', 'Rs. 8999', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 13900', 'Rs. 8990', 'Rs. 8999', 'Rs. 7999', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 11999', 'Rs. 13490', 'Rs. 9999', 'Rs. 8999', 'Rs. 8490', 'Rs. 7999', 'Rs. 9999', 'Rs. 7999', 'Rs. 9999', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 8999', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 8990', 'Rs. 7192Rs. 8990(20% OFF)', 'Rs. 7990', 'Rs. 8990', 'Rs. 8999', 'Rs. 7199Rs. 8999(20% OFF)']
50
['Nike', 'Nike', 'Hush Puppies', 'Calvin Klein', 'Puma', 'Nike', 'Calvin Klein', 'Hush Puppies', 'PUMA Motorsport', 'Puma', 'Puma', 'Calvin Klein', 'ASICS', 'Puma', 'Hush Puppies', 'Calvin Klein', 'Puma', 'Hush Puppies', 'ASICS', 'Calvin Klein', 'Bugatti', 'UNDER ARMOUR', 'Hush Puppies', 'Calvin Klein', 'Saint G', 'Clarks', 'PUMA Motorsport', 'Saint G', 'DAVINCHI', 'UNDER ARMOUR', 'Clarks', 'Puma', 'Geox', 'Ruosh', 'Calvin Klein', 'Bugatti', 'J.FONTINI', 'Tommy Hilfiger', 'ASICS', 'ASICS', 'Clarks', 'Puma', 'Geox', 'Hush Puppies', 'DAVINCHI', 'Ruosh', 'DAVINCHI', 'DAVINCHI', 'Pavers England', 'Bugatti', 'Bugatti', 'Saint G', 'Saint G', 'Bugatti', 'Geox', 'Saint G', 'Saint G', 'Tommy Hilfiger', 'Sole To Soul', 'Tommy Hilfiger', 'ASICS', 'Cole Haan', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Puma', 'Puma', 'Puma', 'Tommy Hilfiger', 'ASICS', 'Geox', 'Puma', 'Cole Haan', 'Cole Haan', 'Geox', 'J.FONTINI', 'J.FONTINI', 'Hush Puppies', 'KLEAT', 'J.FONTINI', 'Ruosh', 'ECCO', 'Hush Puppies', 'DAVINCHI', 'Tommy Hilfiger', 'DAVINCHI', 'DAVINCHI', 'KLEAT', 'Regal', 'J.FONTINI', 'DAVINCHI', 'Calvin Klein', 'DAVINCHI', 'KLEAT', 'Puma', 'Saint G', 'Bugatti', 'Geox', 'Bugatti', 'Geox', 'KLEAT']
100
['Men Zoom Span 4 Running Shoes', 'Men FLIGHT LEGACY Sneakers', 'Men Solid Leather Formal Slip-Ons', 'Men Mid-Top Runner Sneakers', 'Men Deviate Nitro Running Shoe', "Men BlazerLow '77 Sneakers", 'Men Textured Leather Sneaker', 'Men Formal Derbys', 'Unisex FerrariRS-Fast Sneakers', 'Men Running Shoes', 'Men Velocity Nitro Running', 'Men Solid Low Top LTH Sneakers', 'Men Black Running Sports Shoes', 'Unisex RS-Z BP Sneakers', 'Men Leather Slip-On Sneakers', 'Men Solid Mid-Top Sneakers', 'Women Magnify Nitro Shoes', 'Men Solid Leather Formal Derbys', 'Men Running Shoes', 'Men UV MONO Leather Sneakers', 'Men Walking Shoes', 'Women Charged Vantage ClrShft', 'Men Solid Leather Formal Slip-Ons', 'Men Mid-Top Runner Sneakers', 'Men Mid-Top Chelsea Boots', 'Men Suede Derbys', 'Unisex BMW RS-Connect Sneakers', 'Women Leather Heeled Boots', 'Ustraa black', 'Women Charged Bandit 6 Running', 'Men Solid Leather Formal Loafers', 'Men Magnify Nitro Running', 'Men Leather Flat Boots', 'Men Solid Leather Formal Oxfords', 'Men Solid Leather Sneakers', 'Men Leather Flat Boots', 'Men Black Leather Loafers', 'Women Leather Block Pumps', 'Men Colourblocked PU Sneakers', 'Skycourt Sneakers', 'Men Solid Formal Leather Derbys', 'Unisex Textured Sneakers', 'Men Leather Formal Slip-Ons', 'Men Solid Formal Slip-Ons', 'Men Textured Formal Leather Loafers', 'Men Textured Derbys', 'Men Textured Formal Leather Oxfords', 'Men Textured Leather Formal Slip-Ons', 'Men Textured Leather Formal Derbys', 'Men Solid Casual Sneakers', 'Men Solid Casual Sneakers', 'Women Leather Heeled Boots', 'Leather Kitten Heeled Boots with Buckles', 'Leather Block Heeled Boots', 'Women Leather Pumps', 'Leather Block Heeled Boots', 'Leather Kitten Heeled Boots', 'Women Leather Pumps', 'Block Heeled Boots', 'Women Textured Pumps', 'Women Running Shoes', 'Women Woven Design Sneakers', 'Women Charged Impulse Shft', 'Women Charged Rogue 2.5ClrSft', 'Women Eternity NITRO Shoes', 'Women Liberate NITRO Running', 'Women Velocity NITRO Runners', 'Women ELEVATED Leather Sneaker', 'Men DS LIGHT X-FLY 4 Running', 'Men Woven Design Sneakers', 'Women PRONOUNCE May Sneakers', 'Men Lightweight Brogues', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Leather Mid-Top Flat Boots', 'Men Textured Leather Loafers', 'Men Textured Leather Loafers', 'Men Leather Derbys', 'Men Woven Design Loafers', 'Men Solid Loafers', 'Men Solid Leather Formal Monks', 'Women Leather Sneakers', 'Men Solid Leather Formal Derbys', 'Solid Leather Formal Shoes', 'Men Lightweight Sneakers', 'Men Formal Leather Slip-Ons', 'Solid Slip On Shoes', 'Men Woven Design Sneakers', 'Men Solid Leather Formal Monks', 'Men Textured Leather Formal Loafers', 'Men Solid Leather Formal Derbys', 'Men Solid Suede Sneakers', 'Men Textured Formal Leather Loafers', 'Men Suede Flat Boots', 'Men Electrify Nitro Running', 'Men Leather Chelsea Boots', 'Men Black Walking Shoes', 'Women Leather Pumps', 'Men Running Shoes', 'Women Quilted Leather Pumps', 'Men Solid Brogues']
100
['Rs. 7195', 'Rs. 7995', 'Rs. 8099Rs. 8999(10% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 11249Rs. 14999(25% OFF)', 'Rs. 7195', 'Rs. 9999', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 8449Rs. 12999(35% OFF)', 'Rs. 9349Rs. 10999(15% OFF)', 'Rs. 8999', 'Rs. 7999', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 10599', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 7999', 'Rs. 8999', 'Rs. 8999', 'Rs. 7999', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 10900', 'Rs. 8999', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 13900', 'Rs. 8990', 'Rs. 8999', 'Rs. 7999', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 11999', 'Rs. 13490', 'Rs. 9999', 'Rs. 8999', 'Rs. 8490', 'Rs. 7999', 'Rs. 9999', 'Rs. 7999', 'Rs. 9999', 'Rs. 8499Rs. 9999(15% OFF)', 'Rs. 8999', 'Rs. 8999Rs. 9999(10% OFF)', 'Rs. 8990', 'Rs. 7192Rs. 8990(20% OFF)', 'Rs. 7990', 'Rs. 8990', 'Rs. 8999', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 11000', 'Rs. 10900', 'Rs. 9999', 'Rs. 8999', 'Rs. 8900', 'Rs. 8900', 'Rs. 7999', 'Rs. 7590Rs. 7990(5% OFF)', 'Rs. 7599', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 8999Rs. 14999(40% OFF)', 'Rs. 7499', 'Rs. 7999', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 8249Rs. 10999(25% OFF)', 'Rs. 7599', 'Rs. 7699Rs. 10999(30% OFF)', 'Rs. 10499', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 12799Rs. 15999(20% OFF)', 'Rs. 9599Rs. 11999(20% OFF)', 'Rs. 12999', 'Rs. 7990', 'Rs. 7990', 'Rs. 7199Rs. 7999(10% OFF)', 'Rs. 7999', 'Rs. 8990', 'Rs. 8990', 'Rs. 9999', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 7990', 'Rs. 7999', 'Rs. 8990', 'Rs. 7990', 'Rs. 7999', 'Rs. 8990', 'Rs. 8990', 'Rs. 8990', 'Rs. 7999', 'Rs. 8990', 'Rs. 8999', 'Rs. 7499Rs. 9999(25% OFF)', 'Rs. 11900', 'Rs. 8999', 'Rs. 9999', 'Rs. 9999', 'Rs. 8999', 'Rs. 7999']
100

In [168]:
#Printing array sizes
print(len(brand7),len(desc7),len(price7))

100 100 100

In [169]:
#Making DataFrames
df7=pd.DataFrame({'Brand':brand7,'Descrption':desc7,'Price':price7})
df7

,Brand,Descrption,Price
0,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
1,Nike,Men FLIGHT LEGACY Sneakers,Rs. 7995
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8099Rs. 8999(10% OFF)
3,Calvin Klein,Men Mid-Top Runner Sneakers,Rs. 8249Rs. 10999(25% OFF)
4,Puma,Men Deviate Nitro Running Shoe,Rs. 11249Rs. 14999(25% OFF)
...,...,...,...
95,Bugatti,Men Black Walking Shoes,Rs. 8999
96,Geox,Women Leather Pumps,Rs. 9999
97,Bugatti,Men Running Shoes,Rs. 9999
98,Geox,Women Quilted Leather Pumps,Rs. 8999
99,KLEAT,Men Solid Brogues,Rs. 7999

## Q8: Go to webpage https://www.amazon.in/

In [34]:
url8='https://www.amazon.in/'
driver.get(url8)

### Enter “Laptop” in the search field and then click the search icon.

In [35]:
fill8=driver.find_element_by_xpath("//div[@class='nav-search-field ']/input")
fill8.send_keys('Laptop')

In [36]:
search8=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search8.click()

### Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [41]:
# Could not see 'Intel Core i9' in CPU Type filter on the website hence filtering for 'Intel Core i7' and 'Intel Core i5'

filter1=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter1 :
    if i.text=='Intel Core i7' :
        i.click()
        break

In [43]:
filter2=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for j in filter2 :
    if j.text=='Intel Core i5' :
        j.click()
        break

### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 1. Title 2. Ratings 3. Price.

In [49]:
title8=[]
tt8=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in tt8[0:10] :
    t8=i.text
    title8.append(t8)
title8

['LG Gram 17 Ultra-Light 11th Gen Intel Core i5 17 inches Business Laptop (8 GB RAM, 512 GB SSD, Windows 10 Home, Iris Xe Graphics, Thunderbolt 4, USC C x 2 with Power, 1.35 kg, Black - 17Z90P-G.AJ55A2',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i5 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/1TB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05JIH',
 '(Renewed) Dell Latitude Intel 4th Gen Core i5 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/120 GB SSD/Windows 10/Integrated Graphics/Gray/2 kg), E5440-i5-4 GB-120 GB',
 '(Renewed) Fujitsu Intel Core i5 3340M 15.6-Inch (39.62 cms) 1366 X 768 Laptop (4 GB/320 GB HDD/Windows/Intel HD Graphics/Black/2.40 Kg), A573',
 'HP 14 11th Gen Intel Core i5 Processor 14 inches HD Gaming Laptop, 8GB/512GB SSD/Windows 10/MS Office (Natural Silver/1.46Kg), 14s-dq2535TU',
 '(Renewed) Dell Latitude 14-inch (35.56 cm) HD Business Laptop (Core i5 3rd Gen/8 GB RAM/500 GB/Webcam/Wifi/Bluetooth 4.0/USB 3.0/Windows 10 Pro/MS Office 19/Pan India Warranty)',
 'HP Pavilion (2021) Intel 11th Gen Core i5 14 inches FHD Screen Thin & Light Laptop, 16GB RAM, 512GB SSD, Iris Xe Graphics, Windows 11, MS Office, Backlit Keyboard, 1.41kg, Natural Silver (14-dv0054TU)',
 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i5-11400H |NVIDIA GeForce RTX 3050 Laptop Graphics |15.6" FHD 144Hz IPS Display |8GB DDR4 | 256GB SSD+1TB HDD | Killer Wi-Fi 6 | RGB Backlit Keyboard',
 'HP 15 11th Gen Intel Core i5 Processor 39.62 cm (15.6-inch) FHD Laptop (8GB/512GB SSD +32GB Intel Optane/Win 10/MS Office/Jet Black/1.69 Kg), 15s-fq2071TU',
 'Mi Notebook Ultra 3K Resolution Display Intel Core i5-11300H 11th Gen 15.6-inch(39.62 cms) Thin and Light Laptop (8GB/512GB SSD/Iris Xe Graphics/Win 10/MS Office/Backlit KB/Fingerprint Sensor/1.7Kg)']

In [53]:
rating8=[]
rt8=driver.find_elements_by_xpath("//a[@class='a-popover-trigger a-declarative']/i/span")
#("//div[@class='a-section a-spacing-none a-spacing-top-micro']//a[@class='a-popover-trigger a-declarative']//i")
rt8

for i in rt8[0:10] :
    r8=i.text
    rating8.append(r8)
#rating8

#Rating is not getting displayed.

In [54]:
price8=[]
pr8=driver.find_elements_by_xpath("//span[@class='a-price']/span[2]")

for i in pr8[0:10] :
    p8=i.text
    price8.append(p8)
price8

['₹85,589',
 '₹76,990',
 '₹24,990',
 '₹23,990',
 '₹56,490',
 '₹28,490',
 '₹66,990',
 '₹76,990',
 '₹55,990',
 '₹59,999']

In [55]:
print(len(title8),len(rating8),len(price8))

10 10 10

In [56]:
df8=pd.DataFrame({'Title':title8,'Rating':rating8,'Price':price8})
df8

                                               Title Rating    Price
0  LG Gram 17 Ultra-Light 11th Gen Intel Core i5 ...         ₹85,589
1  Lenovo ThinkBook 13s Intel 11th Gen Core i5 13...         ₹76,990
2  (Renewed) Dell Latitude Intel 4th Gen Core i5 ...         ₹24,990
3  (Renewed) Fujitsu Intel Core i5 3340M 15.6-Inc...         ₹23,990
4  HP 14 11th Gen Intel Core i5 Processor 14 inch...         ₹56,490
5  (Renewed) Dell Latitude 14-inch (35.56 cm) HD ...         ₹28,490
6  HP Pavilion (2021) Intel 11th Gen Core i5 14 i...         ₹66,990
7  Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...         ₹76,990
8  HP 15 11th Gen Intel Core i5 Processor 39.62 c...         ₹55,990
9  Mi Notebook Ultra 3K Resolution Display Intel ...         ₹59,999

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

### 1. First get the webpage https://www.ambitionbox.com/

In [160]:
url9='https://www.ambitionbox.com/'
driver.get(url9)

### 2. Click on the Job option

In [162]:
job9=driver.find_element_by_xpath("//a[@class='link jobs']")
job9.click()

### 3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.

In [165]:
fill9=driver.find_element_by_xpath("//span[@class='twitter-typeahead']/input")
fill9.send_keys('Data Scientist')

In [166]:
search9=driver.find_element_by_xpath("//button[@class='ab_btn search-btn round']")
search9.click()

### 4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.

In [177]:
loc9=driver.find_element_by_xpath("//div[@title='Location']/i")
loc9.click()

In [178]:
enter9=driver.find_element_by_xpath("//div[@class='filter-item'][2]//div[@class='filter-data undefined']//div[@class='searchbox']/input")
enter9.send_keys('Noida')

In [179]:
radio9=driver.find_element_by_xpath("//div[@class='filter-item'][2]//div[@class='filter-data undefined']//div[@class='radio']/label")
radio9.click()

### 5. Then scrape the data for the first 10 jobs results you get on the above shown page.

In [189]:
company9=[]
cm9=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in cm9[1:] :
    c9=i.text
    company9.append(c9)
company9

['Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Ameriprise Financial',
 'Jubilant Foodworks Limited',
 'Optum Global Solutions (India) Private Limited',
 'Steria India Ltd',
 'Steria India Ltd',
 'HCL Technologies Limited',
 'Zyoin',
 'GI Group']

In [190]:
posted9=[]
ps9=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for i in ps9 : 
    p9=i.text
    posted9.append(p9)
posted9

['8d ago',
 '1d ago',
 '3d ago',
 '12hr ago',
 '30d ago',
 '20d ago',
 '20d ago',
 '1mon ago',
 '2d ago',
 '8hr ago']

In [191]:
rating9=[]
rt9=driver.find_elements_by_xpath("//div[@class='info']//div[@class='company-info']//div[@class='rating-wrapper']/a/span")
for i in rt9 :
    r9=i.text
    rating9.append(r9)
rating9

['4.1', '4.1', '4.1', '3.9', '4.1', '4.1', '4.1', '3.8', '4.2', '3.9']

### 6. Finally create a dataframe of the scraped data.

In [192]:
print(len(company9),len(posted9),len(rating9))

10 10 10

In [193]:
df8=pd.DataFrame({'Company Name':company9,'Job Posted On':posted9,'Company Rating':rating9})
df8

                                     Company Name Job Posted On Company Rating
0  Optum Global Solutions (India) Private Limited        8d ago            4.1
1                                Steria India Ltd        1d ago            4.1
2                            Ameriprise Financial        3d ago            4.1
3                      Jubilant Foodworks Limited      12hr ago            3.9
4  Optum Global Solutions (India) Private Limited       30d ago            4.1
5                                Steria India Ltd       20d ago            4.1
6                                Steria India Ltd       20d ago            4.1
7                        HCL Technologies Limited      1mon ago            3.8
8                                           Zyoin        2d ago            4.2
9                                        GI Group       8hr ago            3.9

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

### 1. First get the webpage https://www.ambitionbox.com/

In [195]:
url10='https://www.ambitionbox.com/'
driver.get(url10)

### 2. Click on the salaries option...

In [197]:
tab10=driver.find_element_by_xpath("//a[@class='link salaries']")
tab10.click()

### 3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.

In [201]:
fill10=driver.find_element_by_xpath("//div[@class='searchbox-wrapper']//span[@class='twitter-typeahead']/input")
fill10.send_keys('Data Scientist')

In [202]:
list10=driver.find_element_by_xpath("//div[@class='suggestion_wrap tt-suggestion tt-selectable']/div/div/p")
list10.click()

### 4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

In [205]:
company10=[]
cm10=driver.find_elements_by_xpath("//div[@class='company-info']/div/a")
for i in cm10 :
    c10=i.text
    company10.append(c10)
company10

['Ab Inbev',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Deloitte',
 'Ernst & Young',
 'Ericsson']

In [209]:
total_sal10=[]
ts10=driver.find_elements_by_xpath("//div[@class='company-info']//div[@class='name']/span")
for i in ts10 :
    t10=i.text
    total_sal10.append(t10)
total_sal10

['based on 10 salaries',
 'based on 22 salaries',
 'based on 60 salaries',
 'based on 24 salaries',
 'based on 45 salaries',
 'based on 14 salaries',
 'based on 12 salaries',
 'based on 45 salaries',
 'based on 26 salaries',
 'based on 43 salaries']

In [211]:
avg_sal10=[]
as10=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']/p")
for i in as10 :
    a10=i.text
    avg_sal10.append(a10)
avg_sal10

['₹ 19.4L',
 '₹ 15.1L',
 '₹ 14.7L',
 '₹ 13.4L',
 '₹ 13.3L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.2L',
 '₹ 11.1L',
 '₹ 10.9L']

In [212]:
min_sal=[]
min=driver.find_elements_by_xpath("//div[@class='value body-medium'][1]")
for i in min :
    mn=i.text
    min_sal.append(mn)
min_sal

['₹ 15.0L',
 '₹ 11.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 7.2L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 6.9L',
 '₹ 6.0L',
 '₹ 5.0L']

In [213]:
max_sal=[]
max=driver.find_elements_by_xpath("//div[@class='value body-medium'][2]")
for i in max :
    mx=i.text
    max_sal.append(mx)
max_sal

['₹ 23.0L',
 '₹ 21.3L',
 '₹ 20.8L',
 '₹ 18.5L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 20.5L',
 '₹ 20.0L',
 '₹ 21.5L']

In [219]:
exp_req=[]
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in exp :
    ex=i.text.split('\n')[2]
    exp_req.append(ex)
exp_req

['4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp',
 '4 yrs exp',
 '2-4 yrs exp',
 '3-4 yrs exp',
 '3-4 yrs exp']

### 5. Store the data in a dataframe.

In [220]:
print(len(company10),len(total_sal10),len(avg_sal10),len(min_sal),len(max_sal),len(exp_req))

10 10 10 10 10 10

In [223]:
df10=pd.DataFrame({'Company Name':company10,'Total Salary':total_sal10,'Average Salary':avg_sal10,'Minimum Salary':min_sal,'Maximum Salary':max_sal, 'Experience Required':exp_req})
df10

,Company Name,Total Salary,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Ab Inbev,based on 10 salaries,₹ 19.4L,₹ 15.0L,₹ 23.0L,4 yrs exp
1,Optum,based on 22 salaries,₹ 15.1L,₹ 11.0L,₹ 21.3L,3-4 yrs exp
2,Fractal Analytics,based on 60 salaries,₹ 14.7L,₹ 9.0L,₹ 20.8L,2-4 yrs exp
3,Tiger Analytics,based on 24 salaries,₹ 13.4L,₹ 8.3L,₹ 18.5L,3-4 yrs exp
4,UnitedHealth,based on 45 salaries,₹ 13.3L,₹ 7.2L,₹ 20.5L,2-4 yrs exp
5,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L,4 yrs exp
6,Ganit Business Solutions,based on 12 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L,4 yrs exp
7,Deloitte,based on 45 salaries,₹ 11.2L,₹ 6.9L,₹ 20.5L,2-4 yrs exp
8,Ernst & Young,based on 26 salaries,₹ 11.1L,₹ 6.0L,₹ 20.0L,3-4 yrs exp
9,Ericsson,based on 43 salaries,₹ 10.9L,₹ 5.0L,₹ 21.5L,3-4 yrs exp